.About {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 200;
    text-decoration: none;
}

.About a {
    text-decoration: none;
    color: #5887FF
}

.About .simple_contanier {
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}