.HelloWeb {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.HelloWeb h1 {
    color: #101010;
    margin-left: 80px;
    font-size: 48px;
    font-weight: 400;
}

.HelloWeb h2 {
    color: #404040;
    margin-left: 80px;
    font-size: 32px;
    font-weight: 200;
}